<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<div th:replace="fragments/styling::head-style"></div>
	</head> 
	<body>
		<div th:replace="fragments/navbar"></div>
		 <div class="container">
		<h1>Address Book</h1>
			<div class="row">
				<div>
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 th:text="|${email.firstName} ${email.lastName}|"></h2>
						</div>
						<div class="panel-body">
							<p th:text="|Phone Number: ${email.phoneNumber}|"/>
							<p th:text="|Email Address: ${email.emailAddress}|"/>
							<p th:text="|Home Address: ${email.homeAddress}|"/>
						</div>
						<div class="panel-footer">
						<!-- Link to Update -->
						<div class="card-footer">
							<a href="#" th:href="@{entries/delete/{id}(id=${email.id})}">
								<button class="btn btn-danger" type="submit">Delete Post</button>
							</a>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>	
	<a th:href="@{/}"><button class="btn btn-primary"> Back to Main Menu</button></a>
</div>
		<div th:replace="fragments/styling::scripts"></div>
	</body>
</html>